<!-- angular will use the ng form directive from the forms module that is installed -->
<!-- to asign a local variable use #[name]= -->
<form (submit)="onSubmit()" #commentForm="ngForm"> 
    <div>
        <label for="name">Name</label>
        <!-- two way data binding is shown by [(ngModel)]="variable" -->
        <!-- putting required uses the built in functionality of html to stop the form from being submitted empty -->
        <input type="text" name="name" [(ngModel)]="name" required minlength="3"/>
    </div>
    <div>
        <label for="comment">Comment</label>
        <textarea name="comment" [(ngModel)]="comment" required minlength="3" ></textarea>
    </div>
    <div>
        <button >Submit</button>
    </div>
</form>